<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.imsstickers">

    <application
        android:name="com.example.imsstickers.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.imsstickers.Splas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.imsstickers.StickerPackListActivity"
            android:label="@string/title_activity_sticker_packs_list" />
        <activity
            android:name="com.example.imsstickers.StickerPackDetailsActivity"
            android:parentActivityName="com.example.imsstickers.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.imsstickers.StickerPackListActivity" />
        </activity>
        <activity
            android:name="com.example.imsstickers.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.example.imsstickers.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.imsstickers.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.example.imsstickers.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <activity android:name="com.example.imsstickers.EntryActivity"></activity>
    </application>

</manifest>